.left_content{
    
    display: flex;
    justify-content: center;
     height: 100%;
     overflow-y: scroll;
     
}
#forms{
    
    width: auto;
    background: linear-gradient( #001F5C, #0057A3, #0076D6, #1CA0F2);
    border-radius: 8px;
    padding: 30px;
    height: auto;
    margin-top: 10px;
    
}

.table_admin{
    
    width: auto;
     border-radius: 8px;
     padding: 20px;
     height: 100%;
}

.table_admin thead tr th{
    
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    margin: 10px;
}

.table_admin tbody  tr td{
    
    color: white;
    font-weight: 600;
     padding: 5px
    
}


#forms .btn{
    
    margin-top: 5px;
    height: 35px;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
    
}